/logs/**
.idea/*
!.idea/codeStyles/
*.iml
/target

# build files
/build/
/dist/
/nbproject/
/.settings
/out
*.onetoc2

# Database
database/docker-db-data
database/docker-pg-db-data

# EverLeaf disposable QA local secrets
deploy/qa/.env.qa

# macOS files
.DS_Store
